.easy-gallery img {
  max-width: 100%;
}


/******** -- Filters -- ********/
/*******************************/

.filter-set {
    list-style: none;
    overflow: hidden; /* for the height, clear the float */
    padding: 10px 0;
    /*background-color: rgba(0,0,0,.05);*/
}
.filter-set li {
    float: left;
    border: 1px solid rgba(0,0,0,.1);
    margin-right: 3px;
}
.filter-set li:last-child {
    margin:0;
}
.filter-set  a {
    display: block;
    padding: 9px;
      color: #676767;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    background: #fff;
    box-shadow: 0 1px 1px rgba(34,25,25,0.2);
}

/* -- Search -- */

#quicksearch {
  float: right;
  margin: 10px 0;
  padding: 9px;
  border-radius: 0;
  border: 1px solid rgba(0,0,0,.1);
  font-size: 11px;
}



/******** -- Boxes Style -- ********/
/***********************************/

.easy-gallery-boxes .box-wrap {
    margin-bottom: 30px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    border-radius: 2px;
    position: relative;
    overflow: hidden;
}
.clickable .box-wrap {
  cursor: pointer;
}
.easy-gallery-boxes  a {
  display: block;
}
/* -- Title & Description -- */

.easy-gallery-boxes .info {
    margin: 10px;
}
.easy-gallery-boxes .info p {
    font-size: 11px;
    line-height: 1.3;
    color: rgba(0,0,0,.5);
    line-height: 1.3;
}
.easy-gallery-boxes .info .title {
  font-weight: bold;
  font-size: 13px;
  color: rgba(0,0,0,.9);
}
.easy-gallery .info p small {
  font-size: 12px;
  font-weight: normal;
}

/******** -- Retina -- ********/
/*******************************/

.retina {
    /*display: none;*/
}


/******** -- Columns -- ********/
/*******************************/

.row.no-gap,
.ccm-custom-style-container.no-gap .row {
  margin: 0;
}
.no-gap > .row > [class*='col-'],
.no-gap > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.mcl-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.mcl-container:before,
.mcl-container:after {
  content: " ";
  display: table;
}
.mcl-container:after {
  clear: both;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.col-mcl-1,  .col-mcl-2,  .col-mcl-3,  .col-mcl-4,  .col-mcl-5,  .col-mcl-6,  .col-mcl-7,  .col-mcl-8,  .col-mcl-9,  .col-mcl-10,  .col-mcl-11,  .col-mcl-12 {
   position: relative;
   float: left;
   width: 100%; /* AjoutÃ© pour els element absolute */
   min-height: 1px;
   padding-left: 15px;
   padding-right: 15px;
 }
